<div class="stages">
			<h2 class="stages__title">ЭТАПЫ РАБОТЫ В НАШЕЙ СТУДИИ</h2>
			<div class="stages__container">
				<div class="stages-item">
					<div class="stages-item__title">Оценка проекта</div>
					<div class="stages-item__desc">На этом этапе изучаем ваш материал, оцениваем объем работ и предоставляем Вам коммерческое предложение по цене и срокам.</div>
				</div>
				<div class="stages-item">
					<div class="stages-item__title">Старт проекта</div>
					<div class="stages-item__desc">После согласования стоимости и сроков, подписывается акт о начале производства работ, и с вашей стороны производится оплата аванса за работу.</div>
				</div>
				<div class="stages-item">
					<div class="stages-item__title">Выполнение работ</div>
					<div class="stages-item__desc">Выполняем основную часть работ. Показываем выполненные наброски. Предоставляем Вам на утверждение основные составляющие. Детальная проработка всех разделов.</div>
				</div>
				<div class="stages-item">
					<div class="stages-item__title">Закрытие проекта</div>
					<div class="stages-item__desc">Передаем Вам, в полном объеме, готовый проект. Подписываем акт приемки-передачи, финальная оплата.</div>
				</div>
			</div>
		</div>